<h1>Posts</h1>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <p>Posted On: <%= post.posted_on %></p>
    <p>Place ID: <%= post.place_id %></p>
  </div>
<% end %>

<p><a href="<%= new_post_path %>">Add a New Post</a></p>