<h1><%= @post["title"] %>, <%= @post["description"] %></h1>

<ul>
  <li><%= @post["description"] %></li>
  <li><%= @post["created_at"] %></li>
</ul>

<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>